.game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

.game-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;

}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.ship {
    background-color: grey;
}

#computer-board .cell.ship {
    background-color: white;
}

#computer-board .cell.hit {
    background-color: red;
}

#computer-board .cell.miss {
    background-color: lightblue;
}


.hit {
    background-color: red;
}


.miss {
    background-color: lightblue;
}